{% extends "website/layout.html" %}

{% block body %}
<div class="align-middle" style="height: 90vh;">
    {% if not user.is_authenticated %}
        <!-- Landing page -->
        <div class="text-center" style="margin-top: 30%;">
            <h1>Reluvate Proficiency Test</h1>
            <p>Done by Marcus Peh</p>
            <div>
                <a class="btn btn-secondary btn-lg" role="button" href="{% url 'register' %}">Register</a>
                <a class="btn btn-outline-secondary btn-lg" role="button" href="{% url 'login' %}">Login</a>
            </div>
        </div>

    {% else %} 

        <!-- Welcome message-->
        <h3>Welcome, {{user.username}}</h3>
        <hr>

        <!-- Generate news -->
        <h3>Click here to generate a random news</h3>
        <div>
            <label for="category">Category </label>
            <select id="category" name="category">
                <option value="random">-</option>
                <option value="general">General</option>
                <option value="business">Business</option>
                <option value="technology">Technology</option>
                <option value="health">Health</option>
                <option value="entertainment">Entertainment</option>
                <option value="science">Science</option>
                <option value="sports">Sports</option>
              </select>
              <button class="btn btn-outline-secondary" style="display: block;" id="randomNews" type="submit"  data-toggle="modal" data-target="#newNews">Generate News</button>
            </div>
        

        <hr>
        <h3>News viewed in the past</h3>
        
        <!-- All post viewed -->
        <div id="allPost">
            {% if history %} 
                {% for past in history %}
                    <div class="align-middle mb-2" id="post{{ past.id }}">
                        <div class="card" style="width: 100%;">
                            <img class="card-img-top" src={{ past.image }} alt="News Image">
                            <div class="card-body">
                                <small>By {{ past.author }} at {{ past.date }}</small>
                                <h5 class="card-title">{{ past.title }}</h5>
                                <p class="card-text">{{ past.description }}</p>
                                <small><a href={{ past.url }} target="blank">Read more...</a></small>
                                <button class="btn btn-outline-warning deleteNews" style="float: right;" data-id={{ past.id }}>
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p id="noNewMessage">No news is viewed :(</p>
            {% endif %}
        </div>

        <!-- Pagination -->
        {% if history.has_previous or history.has_next %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-end">
                {% if history.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{history.previous_page_number}}" aria-label="Previous">
                        Previous
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            Previous
                        </a>
                    </li>
                {% endif %}
        
                {% if history.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{history.next_page_number}}" aria-label="Next">
                            Next
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Next">
                            Next
                        </a>
                    </li>
                {% endif %}
                </ul>
            </nav>
        {% endif %}
        <br>

        <!-- Modal -->
        <div class="modal fade" id="newNews" tabindex="-1" data-backdrop="static" aria-labelledby="newNewsLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="newNewsLabel">Random News</h5>
                <button type="button"  id="newNewsCloseTop" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body" id="newNewsBody">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="newNewsCloseBottom" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}