{% extends "website/layout.html" %}

{% block body %}
    <h6><a href="{% url 'index' %}"><i class="fas fa-long-arrow-alt-left"></i> Click here to go back</a></h6>
    {% if  not image and not author and not date and not title and not description %}
        <h3>Ops we can't find any news. Please try again.</h3>
    {% else %}
        <div class="align-middle" style="height: 90vh;">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src={{ image }} alt="News Image">
                <div class="card-body">
                    <small>By {{ author }} at {{ date }}</small>
                    <h5 class="card-title">{{ title }}</h5>
                    <p class="card-text">{{ description }}</p>
                    <small><a href={{ url }} target="blank">Read more...</a></small>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}